{{ define "main" }}
<article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="author" content="{{ .Site.Params.author}}">
  <header class="article-header">
    <h1 itemprop="headline">{{ .Title }}</h1>
    <div class="article-meta">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}" itemprop="datePublished">
        {{ $dateHuman }}
      </time> 
    </div>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  <footer class="article-footer">
    {{ partial "page-nav-page.html" . }}
  </footer>
</article>
{{ end }}